name: purge-jsdelivr-cache

on:
    push:
        branches: [ main ]
        
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - run: curl https://purge.jsdelivr.net/hk-modding/modlinks/
